<div class="content-wrapper">
    <h3>الكشوفات</h3>
    <button (click)="addNewRecord()" class="btn btn-primary" style="margin:10px">اضافة كشف جديد</button>
    <br>
    <div class="row">
        <mat-form-field class="col-md-6">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="بحث" style="font-size: 15px;">
        </mat-form-field>
        <div class="col-md-4 form-group">
            <label for="date">التاريخ <i style="color: red;">*</i></label>
            <mat-form-field appearance="legacy">
            <mat-label>اختر تاريخ</mat-label>
            <input matInput [matDatepicker]="picker" style="height: auto;" name="date" class="form-control"
            id="date" placeholder="التاريخ" (dateChange)="applyDateFilter($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="example-container">
        <table mat-table [dataSource]="appointmentList" style="width: 100%;">
            <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef>فئة الكشف</th>
                <td mat-cell *matCellDef="let appointment" style="width: 15%;"> {{appointment.category.name}} </td>
            </ng-container>

            <ng-container matColumnDef="patientName">
                <th mat-header-cell *matHeaderCellDef>اسم المريض</th>
                <td mat-cell *matCellDef="let appointment" style="width: 15%;"> {{appointment.patient.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef>الدكتور</th>
                <td mat-cell *matCellDef="let appointment" style="width: 15%;"> {{appointment.user.fullName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="clinicName">
                <th mat-header-cell *matHeaderCellDef>العيادة</th>
                <td mat-cell *matCellDef="let appointment" style="width: 15%;"> {{appointment.clinic.name}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> التاريخ </th>
                <td mat-cell *matCellDef="let appointment" style="width: 15%;"> {{appointment.date | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>الحالة</th>
                <td mat-cell *matCellDef="let appointment" style="width: 10%;">
                    <label *ngIf="appointment.state == appointmentStateEnum.Finished">انتهى</label>
                    <label *ngIf="appointment.state == appointmentStateEnum.Pending">قيد الانتظار</label>
                    <label *ngIf="appointment.state == appointmentStateEnum.Current">جارى</label>
                    <label *ngIf="appointment.state == appointmentStateEnum.Cancelled">ملغي</label>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> الخيارات </th>
                <td mat-cell *matCellDef="let appointment" style="width: 15%; ">
                    <a (click)="editRecord(appointment.id)"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a>
                    <a (click)="deleteRecord(appointment.id, appointment.patient.fullName + ' - ' + appointment.category.name)"><i class="fa fa-trash fa-lg"
                            aria-hidden="true"></i></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSize]="configService.configuration.pageSize" showFirstLastButtons 
        [hidePageSize]="true" (page)="getServerData($event)" [length]="rowsCount"></mat-paginator>